$primary:               #20a0ff;
$html-bg-color:         #ededed;
$feature-font-color:    #999;
$page-icon-color:       #48576a;
$border-color:          #e5e5e5;
$faq-bg-color:          #393e42;
$financial-title-color: #666666;
$wechat-color:          #62b900;
$red-light:             #ff6d6d;
